@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

html{
    background-color: black;

}

body{
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
    justify-content: center;
    background-color: rgb(14, 14, 14);

}

.left-panel{
    background: url(img/janosch-diggelmann-LKAj-Eu2Jyg-unsplash.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 35%;
    height: 100vh;
}

.right-panel{
    background-color: white;
    width: 45%;
}

.banner{
    display:flex;
    flex-wrap: wrap;
}

.icon{
    width: 100px;
}

.imageDiv{
    background-color: rgba(0, 0, 0, .65);
    display: flex;
    width: 100%;
    height: 120px;
    margin-top: 80px;
    padding: 2% 0 2% 0;
    font-family: norse-bold;
    vertical-align: 50%;
    color: white;
    font-size: 5em;
    line-height: 1.5em;
    font-weight: 800;
    justify-content: center;
}

.hypeText{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 1.25em;
    font-weight: 500;
}

.existingAccountText{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 1em;
}

fieldset{
    margin-top: 5em;

}

legend{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1em;
}

input{
    margin-bottom: 1em;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.combinedLabel{
    display: flex;
    flex-direction: column;
}


button{
    margin-top: 2em;
    background-color: rgba(56, 36, 24, 0.884);
    color: rgb(211, 211, 211);
    border: none;
    font-size: 1.4em;
    font-weight: 600;
    border-radius: .25em;
    width: 120px;
    height: 45px;
}
button:hover{
    background-color: rgba(73, 52, 32, 0.884);
    color: white;
    transform: scale(1.05);
}

@media screen and (max-width: 700px){
    .content{
        flex-direction: column;
        justify-content: center;
    }   
    .left-panel{
        height: 10em;
        width: 100%;
    }

    .right-panel{
        width: 100%;
    }

    .imageDiv{
        margin-top: 25px;
        height: 90px;
        align-items: center;
    }
    .icon{
        height: 85px;
    }
}
